// import bootstrap core and other libs
@import "../node_modules/google-material-color/dist/palette.scss";
// bootstrap settings
$navbar-default-bg: palette(Blue, 800);
$navbar-default-link-color: palette(Grey, 100);
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap.scss";


// write your own css in bem style
// import other css
$color-primary: palette(Blue, 500);
$color-primary--lighter: palette(Blue, 300);
$color-primary--lightest: palette(Blue, 100);
$color-primary--darker: palette(Blue, 700);
$color-primary--darkest: palette(Blue, 800);
$color-accent: palette(Pink, 500);
$color-accent--lighter: palette(Pink, 300);
$color-accent--lightest: palette(Pink, 100);
$color-accent--darker: palette(Pink, 700);
$color-accent--darkest: palette(Pink, 800);


.color {
  padding: 2em;
}

.color-primary {
  background: $color-primary;
}

.color-primary--lighter {
  background: $color-primary--lighter;
}

.color-primary--lightest {
  background: $color-primary--lightest;
}

.color-primary--darker {
  background: $color-primary--darker;
}

.color-primary--darkest {
  background: $color-primary--darkest;
}

.color-accent {
  background: $color-accent;
}

.color-accent--lighter {
  background: $color-accent--lighter;
}

.color-accent--lightest {
  background: $color-accent--lightest;
}

.color-accent--darker {
  background: $color-accent--darker;
}

.color-accent--darkest {
  background: $color-accent--darkest;
}

@import "typography/headings.scss";
