// you can override bootstrap variables
$brand-primary: #003399;
$navbar-default-bg: $brand-primary;
$navbar-default-link-color: #fff;
$navbar-default-link-hover-color: #ccc;


// import bootstrap core
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap.scss";
